<h1>Sign up here:</h1>

<form method="post" action="/registrations">

  <div>
    <p>
      <label for="name">Name:</label>
      <%= "<input type='text' name='name' value='#{@name}'>" %>
      <%= @error_message_name%>
    </p>
  </div>

  <div>
    <p>
      <label for="email">Email:</label>
      <%= "<input type='text' name='email' value='#{@email}'>" %>
      <%= @error_message_email%>
    </p>
  </div>

  <div>
    <p>
      <label for="password">Password:</label>
      <%= "<input type='text' name='password' value='#{@password}'>" %>
      <%= @error_message_password%>
    </p>
  </div>

  <div>
    <p>
      <input type="submit" value="Sign Up">
    </p>
  </div>

</form>
